{% extends 'layouts/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 border-bottom mb-4">
    <h1 class="">Fulfillment Orders</h1>
</div>

<div class="card">
    <div class="card-header">
        <div>
            <h4 class="card-title mb-0">Fulfillment Orders</h4>
        </div>
        <div>
            <a href="{% url 'fulfillments:fo-list' %}">View All Fulfillment Orders</a>
        </div>
    </div>
    {% render_table table %}
</div>

{% endblock %}
